/* Profile -------------------------------------------------- */
section {
    height: fit-content;
    background: linear-gradient(to bottom, #111, #444);
    border-radius: 5px;
}
input {
    background-color: inherit;
    border: none;
    border-bottom: orange solid 2px;
}
.form {
    display: none;
}
#cancel-btn {
    background: inherit;
    text-align: center;
    border-radius: 6px;
    border: 2px solid #222;
}
#edit-btn, #send-btn {
    text-align: center;
    background: inherit;
    border-radius: 6px;
    border: 2px solid orange;
    color: orange;
}
/* Profile -------------------------------------------------- */



/* Animation ------------------------------------------------ */
.rotate {
    background: inherit;
    width: 6rem;
    height: 6rem;
    position: fixed;
    bottom: 3.2rem;
    right: 3.2rem;
    border: 1px solid white;
    border-radius: 3rem;
    animation: bounce 5s ease-in-out 0s infinite;
}
.rotate:hover {
    opacity: 0.85;
}
@keyframes bounce {
    0% { transform: rotate(0deg) }
    25% { transform: rotate(360deg) scale(1.5) }
    50% { transform: rotate(0deg) }
    75% { transform: rotate(-360deg) scale(1.5) }
    100% { transform: rotate(0deg) }
}
input:hover, input:active, input:focus,
input:visited, input:focus-visible {
    outline: none;
}
#form:checked ~ form .info {
    display: none!important;
}
#form:checked ~ form .form {
    display: flex!important;
}
#edit-btn:hover, #send-btn:hover, #cancel-btn:hover {
    transform: scaleY(1.1) scaleX(1.05);
}
/* Animation ------------------------------------------------ */